modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 443

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
author = "user"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm start"
